.myRoutes-container {
  position: relative;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.myRoutes-container .page-section {
  /*padding: 6rem 0;*/
  padding-bottom: 0;
}

.myRoutes-container .page-section h2.section-heading,
.myRoutes-container .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #88674c43;
}

/*
.myRoutes-container .h2-overlay {
  position: absolute;
  top: 110px;
  background-color: #009fc749 ;
  width: 100vw;
  height: 90px;
}
*/

.myRoutes-container .page-section h3.section-subheading,
.myRoutes-container .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}



@media (min-width: 768px) {
  .myRoutes-container section {
    padding: 9rem 0;
  }
}

.myRoutes-container .bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}


.myRoutes-container .container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .myRoutes-container .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .myRoutes-container .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .myRoutes-container .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .myRoutes-container .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .myRoutes-container .container {
    max-width: 1320px;
  }
}

.myRoutes-container .text-center {
  text-align: center !important;
}

.myRoutes-container .h3,
.myRoutes-container .h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

.myRoutes-container .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .myRoutes-container .h2 {
    font-size: 2rem;
  }
}

.myRoutes-container .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  .myRoutes-container .h3 {
    font-size: 1.75rem;
  }
}

.myRoutes-container .text-uppercase {
  text-transform: uppercase !important;
}

.myRoutes-container .text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.myRoutes-container .btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .myRoutes-container .btn {
    transition: none;
  }
}

.myRoutes-container .btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.myRoutes-container .btn:disabled,
.myRoutes-container .btn.disabled,
.myRoutes-container fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.myRoutes-container .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2e6d9c;
  --bs-btn-border-color: #2e6d9c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00a0c7;
  --bs-btn-hover-border-color: #00a0c7;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e6d9c;
  --bs-btn-active-border-color: #2e6d9c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00a0c7;
  --bs-btn-disabled-border-color: #00a0c7;
}

.myRoutes-container .btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

.myRoutes-container .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.myRoutes-container .row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
  .myRoutes-container .col-lg-4 {
    flex: 0 0 auto;
    justify-content: center;
    width: 33.33333333%;
  }
}

@media (min-width: 576px) {
  .myRoutes-container .col-sm-6 {
    flex: 0 0 auto;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .myRoutes-container .mb-lg-0 {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
  }
}

.myRoutes-container .mb-4 {
  margin-bottom: 1.5rem !important;
  display: flex;
  justify-content: center;
}

.myRoutes-container #myroutes .route-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/* 
.myRoutes-container #myroutes .route-item .route-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

.myRoutes-container #myroutes .route-item .route-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

.myRoutes-container #myroutes .route-item .route-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

.myRoutes-container #myroutes .route-item .route-link:hover .portfolio-hover {
  opacity: 1;
}

.myRoutes-container #myroutes .route-item .route-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
} 
*/

.myRoutes-container .route-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;

}

.myRoutes-container .route-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.myRoutes-container .route-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

.myRoutes-container .route-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.myRoutes-container .modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

@media (min-width: 576px) {
  .myRoutes-container .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.myRoutes-container .img-fluid {
  max-width: 100%;
  border-radius: 5%;
}

.myRoutes-container *,
.myRoutes-container *::before,
.myRoutes-container *::after {
  box-sizing: border-box;
}

.myRoutes-container #Create-route-button {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.myRoutes-container a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

.myRoutes-container a:hover {
  color: var(--bs-link-hover-color);
}

.myRoutes-container #My-routes-subheading {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .myRoutes-container .size-1200px {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.myRoutes-container .see-more-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.myRoutes-container .see-more-div button {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  color: #2e6d9c;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.myRoutes-container .see-more-div button:hover {
  border-bottom: 2px solid #2e6d9c;
}